[Unit]
Description=JACK2 Audio Server
After=sound.target

[Service]
LimitRTPRIO=infinity
LimitMEMLOCK=infinity
ExecStart=/usr/bin/jackd -v -t2000 -s -d alsa -dhw:pisound -r48000 -p 256 -n 2 -X seq

[Install]
WantedBy=multi-user.target
