[Unit]
Description=JACK2 Audio Server
After=sound.target

[Service]
LimitRTPRIO=infinity
LimitMEMLOCK=infinity
User=root
Group=root
Nice=-19
OOMScoreAdjust=-1000
IOSchedulingClass=realtime
IOSchedulingPriority=0
CPUSchedulingPriority=99
Environment=LD_LIBRARY_PATH=/usr/local/lib:$LD_LIBRARY_PATH
Environment=LV2_PATH=/zynthian/zynthian-plugins/lv2:/zynthian/zynthian-my-plugins/lv2
ExecStartPre=/usr/local/bin/partrt create 0xc
ExecStart=/usr/local/bin/jackd -R -P99 -d alsa -dhw:pisound -r48000 -p256 -n2 -Xraw
ExecStartPost=/usr/local/bin/partrt move $MAINPID rt
#ExecStartPost=echo 0 > /sys/bus/workqueue/devices/writeback/numa #BDI writeback affinity
ExecStartPost=echo 1500 > /proc/sys/vm/dirty_writeback_centisecs #Increase flush time to disk

[Install]
WantedBy=multi-user.target
