[Unit]
Description=mod-host-pipe
BindsTo=jack2.service
After=jack2.service

[Service]
Environment=HOME=/root
Environment=LD_LIBRARY_PATH=/usr/local/lib:$LD_LIBRARY_PATH
Environment=LV2_PATH=/zynthian/zynthian-plugins/lv2:/zynthian/zynthian-my-plugins/lv2
WorkingDirectory=/root
ExecStartPre=/usr/local/bin/jack_wait -w
ExecStart=/root/bin/mod-host-pipe.sh

[Install]
WantedBy=multi-user.target
