[Unit]
Description=Zynthian stage
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /zynthian/zynthian-stage-ui/stage.py

[Install]
WantedBy=multi-user.target
