[Unit]
Description=a2jmidid
BindsTo=jack2.service
After=mod-ttymidi.service

[Service]
Environment=HOME=/home/pi
WorkingDirectory=/home/pi
ExecStart=/usr/local/bin/a2jmidid -e -u
ExecStartPost=/sbin/udevadm trigger --type=devices --action=add
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
