[Unit]
Description=JACK2 Audio Server
After=sound.target
Before=mod-host.service
Before=a2jmidid.service

[Service]
Type=simple
LimitRTPRIO=infinity
LimitMEMLOCK=infinity
ExecStart=/usr/local/bin/jackd -P70 -t2000 -s -dalsa -dhw:0 -r44100 -p256 -n2

[Install]
WantedBy=multi-user.target
#WantedBy=network.target
