[Unit]
Description=mod-ui
Requires=jack2.service
Requires=mod-host.service
Requires=a2jmidid.service
Binds-To=jack2.service
Binds-To=mod-host.service
Binds-To=a2jmidid.service
After=a2jmidid.service mod-host.service

[Service]
Environment=HOME=/home/pi
#Environment=LV2_PATH=/home/pi/.lv2:/home/pi/zynthian/zynthian-plugins/lv2:/usr/lib/lv2:/usr/local/lib/lv2
Environment=LV2_PATH=/home/pi/.lv2:/home/pi/zynthian/zynthian-plugins/lv2:/usr/lib/lv2
Environment=MOD_DEV_ENVIRONMENT=0
Environment=MOD_SCREENSHOT_JS=/home/pi/zynthian/zynthian-sw/mod-ui/screenshot.js
Environment=MOD_PHANTOM_BINARY=/usr/bin/phantomjs
Environment=MOD_DEVICE_WEBSERVER_PORT=8888
WorkingDirectory=/home/pi/zynthian/zynthian-sw/mod-ui
#ExecPreStart=/home/pi/mod_midi_autoconnect.py
ExecStart=/home/pi/zynthian/zynthian-sw/mod-ui/server.py
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
#WantedBy=network.target
