[Unit]
Description=mod-ttymidi
BindsTo=jack2.service
After=jack2.service

[Service]
Type=simple
Environment=HOME=/root
WorkingDirectory=/root
ExecStart=/usr/local/bin/ttymidi -s /dev/ttyAMA0 -b 38400
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
#WantedBy=network.target
