[Unit]
Description=mod-host
After=jack2.service

[Service]
Type=forking
Environment=HOME=/home/pi
Environment=LV2_PATH=/home/pi/.lv2:/home/pi/zynthian/zynthian-plugins/lv2:/usr/lib/lv2:/usr/local/lib/lv2
WorkingDirectory=/home/pi
ExecStart=/usr/local/bin/mod-host
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
#WantedBy=network.target
