[Unit]
Description=JACK2 Audio Server
After=sound.target

[Service]
LimitRTPRIO=infinity
LimitMEMLOCK=infinity
Environment=LV2_PATH=/zynthian/zynthian-plugins/lv2:/zynthian/zynthian-my-plugins/lv2
ExecStart=/usr/local/bin/jackd -P70 -t2000 -s -d alsa -dhw:0 -r44100 -p256 -X raw -n2
ExecStartPost=/usr/local/bin/jack_wait -w
#ExecStartPost=/usr/local/bin/jack_load ttymidi /dev/ttyAMA0
ExecStartPost=/usr/local/bin/jack_load mod-host
ExecStartPost=/usr/local/bin/jack_load mod-monitor
ExecStopPre=/usr/local/bin/jack_unload mod-monitor
ExecStopPre=/usr/local/bin/jack_unload mod-host
#ExecStopPre=/usr/local/bin/jack_unload ttymidi

[Install]
WantedBy=multi-user.target
