[Unit]
Description=JACK2 Audio Server
After=sound.target

[Service]
LimitRTPRIO=infinity
LimitMEMLOCK=infinity
ExecStart=/usr/local/bin/jackd -P70 -t2000 -s -d alsa -dhw:0 -r44100 -p256 -X raw -n2

[Install]
WantedBy=multi-user.target
